* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    /* body */
    --cor-fundo: #f6f8fc;

    /* font */
    --cor-font: #FFF;

    /* cor dos pokemons */
    --cor-pokemon-planta: #48d0b0;
    --cor-pokemon-number: #000000;
    --cor-pokemon-type: #61e1ca;
    --cor-pokemon-fogo: #F42A28;
    --cor-pokemon-agua: #37A5C6;
}

body {
    background-color: var(--cor-fundo);
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: var(--cor-font);
}

@media screen and (min-width:992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}